// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import Bootstrap for Sass
@import "bootstrap";

.topbar {
  height: 120px;
  background-color: $brand-lighter;
}

.menu {
  background-color: $brand-dark;
  border-radius: 0;

  position: relative;
  height: 100vh;
}

.content .row {
  padding: 0 36px;
}

.row.divider {
  height: 40px;
  background-color: $brand !important;

  h3 {
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
  }
}