// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import Bootstrap for Sass
@import "bootstrap";

body {
  background-color: $brand-dark;
}
.topbar {
  height: 120px;
  background-color: $brand-lighter;
}



.row.divider {
  height: 40px;
  background-color: $brand !important;

  h3 {
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
  }
}

.topbar {
  .icon {
    display: block;
    position: relative;
    float: left;
    clear: none;

    width: 90px;
    height: 90px;
    margin: 15px;

    background-color: #fff;
    border-radius: 45px;
  }

  h1 {
    display: block;
    position: relative;
    float: left;
    clear: none;

    line-height: 120px;
    font-weight: 400 !important;
    color: #fff;
    margin: 0;
  }

  .info
  {
    display: block;
    position: relative;
    float: right;
    clear: none;

    height: 120px;
    width: auto;
    margin: 0;

    p {
      font-size: 20px;
      line-height: 30px;
      text-decoration: no-underline;
      margin: 30px 100px;

      color: #fff !important;

      a {
        color: #fff !important;
        font-weight: 500;
        font-size: 24px;

        text-decoration: underline !important;
      }
    }
  }

  .settings {
    display: block;
    position: relative;
    float: right;
    clear: none;

    height: 120px;
    width: auto;
    margin: 0;

    button {
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
    }

    svg {
      height: 70px;
      width: 70px;

      margin: 25px;
      fill: #fff;
    }
  }
}

//MENU SETTINGS
.menu {
  background-color: $brand-dark;
  border-radius: 0;

  position: relative;
  height: 100vh;
  padding: 0;

  box-shadow: 1px 0px 0px $brand-dark;
  margin: 0 !important;

  h2 {
    position: fixed;
    left: 64px;
    top: 80px;

    color: #fff !important;
    font-weight: 500;

    margin: 80px 0 30px 0;
  }

  ul {
    position: fixed;
    left: 0;
    top: 240px;

    width: 100%;
  }

  ul li{
    margin-top: 0 !important;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    &:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    a {
      color: #a9a9a9 !important;
      background-color: $brand-darker !important;
      border-radius: 0 !important;

      &:hover {
        color: #fff !important;
        background-color: $brand-dark !important;
      }
    }
  }
}

//CONTENT SETTINGS
.content {
  background-color: #fff;
  min-height: 100vh;
  height: auto;

  .row {
    padding: 0 36px;
  }

  .page-title {
    height: 70px;

    h2 {
      color: $brand;
    }
  }
  form label {
    display: inline-block;
    width: 100%;

    font-weight: 400;
    margin-bottom: 0px;
  }

  form .row {
    padding: 0 !important;
  }
}

.search-settings {
  padding: 20px 36px !important;
}

.search-results {
  padding: 20px 36px !important;
  height: 1000px;
}

.search-item {
  height: 90px;
  border-top: 1px solid $brand;

  color: $brand !important;
  &:last-child {
    border-bottom: 1px solid $brand;
  }

  .avatar {
    display: block;
    position: relative;
    width: 55px;
    height: 55px;
    margin: 17px 0px;
    border: 1px solid $brand;
    border-radius: 27.5px;
  }

  .blogger, .subscribers, .price-1, .price-2, .rating {
    line-height: 90px;
    h2 {
      line-height: 90px;
      margin: 0;
    }
  }

  .audience {
    line-hegiht: 45px;
    margin: 0;
    margin-top: 15px;
  }
}